Repository llccrr/test-github-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, storybook, frontend, backend, test

update index.js
  src/index.js
Labels: test

Add label on tag
  .github/workflows/tag.yml
Labels: devops

Commit without keyword
  .github/workflows/bumper_version.yml
  .gitignore
Labels: devops

#minor bump
  package.json
Labels: none

Add a new ! in the main message
  src/index.js
Labels: test

Remove a ! in the main message
  src/index.js
Labels: test

1) after last bump
  src/index.js
Labels: test

2) after last bump
  src/index.js
Labels: test

3) after last bump
  src/index.js
Labels: test

.github/labeler.yml:

# Add 'devops' label to any change related to docker, environment configurations...
devops:
  - .github/**
  - Docker/**
  - docker-compose.prod.yml
  - docker-compose.yml
  - inject-conf.js

storybook:
  - client/stories/**

# Add 'frontend' label to any change within the 'client' dir
frontend:
  - client/**

# Add 'backend' label to any change within the 'api' dir
backend:
  - api/**
# Add 'test' label to any change within the 'src' dir
test:
  - src/**
